In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

### World Cups

In [2]:
df_wc = pd.read_csv('data/WorldCups.csv', sep=',')
display(df_wc)

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607
5,1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819.810
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893.172
7,1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1.563.135
8,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1.603.975
9,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1.865.753
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1.545.791
11,1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2.109.723
12,1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2.394.031
13,1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2.516.215
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3.587.538
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2.785.100
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3.359.439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3.178.856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810

In [3]:
#remove what is not important for our case
df_wc = df_wc.drop(columns=['Runners-Up', 'Third', 'Fourth'])
display(df_wc)

,Year,Country,Winner,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,70,13,18,590.549
1,1934,Italy,Italy,70,16,17,363.000
2,1938,France,Italy,84,15,18,375.700
3,1950,Brazil,Uruguay,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,140,16,26,768.607
5,1958,Sweden,Brazil,126,16,35,819.810
6,1962,Chile,Brazil,89,16,32,893.172
7,1966,England,England,89,16,32,1.563.135
8,1970,Mexico,Brazil,95,16,32,1.603.975
9,1974,Germany,Germany FR,97,16,38,1.865.753
10,1978,Argentina,Argentina,102,16,38,1.545.791
11,1982,Spain,Italy,146,24,52,2.109.723
12,1986,Mexico,Argentina,132,24,52,2.394.031
13,1990,Italy,Germany FR,115,24,52,2.516.215
14,1994,USA,Brazil,141,24,52,3.587.538
15,1998,France,France,171,32,64,2.785.100
16,2002,Korea/Japan,Brazil,161,32,64,2.705.197
17,2006,Germany,Italy,147,32,64,3.359.439
18,2010,South Africa,Spain,145,32,64,3.178.856
19,2014,Brazil,Germany,171,32,64,3.386.810

In [4]:
#add the results and informations of the World cup 2018 and World Cup 2022 (from Wikipedia)
df_wc.loc[20]=[ '2018', 'Russia', 'France' , '169', '32', '64', '3.031.768']
df_wc.loc[21]=[ '2022', 'Qatar', 'Argentina', '172', '32', '64', '3.404.252']
display(df_wc)

,Year,Country,Winner,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,70,13,18,590.549
1,1934,Italy,Italy,70,16,17,363.000
2,1938,France,Italy,84,15,18,375.700
3,1950,Brazil,Uruguay,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,140,16,26,768.607
5,1958,Sweden,Brazil,126,16,35,819.810
6,1962,Chile,Brazil,89,16,32,893.172
7,1966,England,England,89,16,32,1.563.135
8,1970,Mexico,Brazil,95,16,32,1.603.975
9,1974,Germany,Germany FR,97,16,38,1.865.753
10,1978,Argentina,Argentina,102,16,38,1.545.791
11,1982,Spain,Italy,146,24,52,2.109.723
12,1986,Mexico,Argentina,132,24,52,2.394.031
13,1990,Italy,Germany FR,115,24,52,2.516.215
14,1994,USA,Brazil,141,24,52,3.587.538
15,1998,France,France,171,32,64,2.785.100
16,2002,Korea/Japan,Brazil,161,32,64,2.705.197
17,2006,Germany,Italy,147,32,64,3.359.439
18,2010,South Africa,Spain,145,32,64,3.178.856
19,2014,Brazil,Germany,171,32,64,3.386.810
20,2018,Russia,France,169,32,64,3.031.768
21,2022,Qatar,Argentina,172,32,64,3.404.252

In [5]:
df_wc = df_wc.replace('Germany FR', 'Germany') #due the separation before the World War II (also because of this, there is no acess to years of war - between index 2 and 3)
df_wc['Attendance'] = df_wc['Attendance'].str.replace('.', '', regex=True).astype('int64')
display(df_wc)

,Year,Country,Winner,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,70,13,18,590549
1,1934,Italy,Italy,70,16,17,363000
2,1938,France,Italy,84,15,18,375700
3,1950,Brazil,Uruguay,88,13,22,1045246
4,1954,Switzerland,Germany,140,16,26,768607
5,1958,Sweden,Brazil,126,16,35,819810
6,1962,Chile,Brazil,89,16,32,893172
7,1966,England,England,89,16,32,1563135
8,1970,Mexico,Brazil,95,16,32,1603975
9,1974,Germany,Germany,97,16,38,1865753
10,1978,Argentina,Argentina,102,16,38,1545791
11,1982,Spain,Italy,146,24,52,2109723
12,1986,Mexico,Argentina,132,24,52,2394031
13,1990,Italy,Germany,115,24,52,2516215
14,1994,USA,Brazil,141,24,52,3587538
15,1998,France,France,171,32,64,2785100
16,2002,Korea/Japan,Brazil,161,32,64,2705197
17,2006,Germany,Italy,147,32,64,3359439
18,2010,South Africa,Spain,145,32,64,3178856
19,2014,Brazil,Germany,171,32,64,3386810
20,2018,Russia,France,169,32,64,3031768
21,2022,Qatar,Argentina,172,32,64,3404252

In [6]:
df_wc.to_csv("data/WorldCups_complete.csv")

### World Cup Matches

In [7]:
df_wcm = pd.read_csv('data/WorldCupMatches.csv', sep=',')
display(df_wcm)
#we did some changes at hand like wrong spaces

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#remove the final rows with "NaN" values because they are just blanck spaces and the final game of World Cup 2014 is at index 851
index = []
for i in range(852, 4572):
    index.append(i)
    
df_wcm.drop(index, inplace=True)
display(df_wcm)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
847,2014.0,05 Jul 2014 - 17:00,Quarter-finals,Arena Fonte Nova,Salvador,Netherlands,0.0,0.0,Costa Rica,Netherlands win on penalties (4 - 3),51179.0,0.0,0.0,Ravshan IRMATOV (UZB),RASULOV Abduxamidullo (UZB),KOCHKAROV Bakhadyr (KGZ),255953.0,300186488.0,NED,CRC
848,2014.0,08 Jul 2014 - 17:00,Semi-finals,Estadio Mineirao,Belo Horizonte,Brazil,1.0,7.0,Germany,,58141.0,0.0,5.0,RODRIGUEZ Marco (MEX),TORRENTERA Marvin (MEX),QUINTERO Marcos (MEX),255955.0,300186474.0,BRA,GER
849,2014.0,09 Jul 2014 - 17:00,Semi-finals,Arena de Sao Paulo,Sao Paulo,Netherlands,0.0,0.0,Argentina,Argentina win on penalties (2 - 4),63267.0,0.0,0.0,Cneyt AKIR (TUR),DURAN Bahattin (TUR),ONGUN Tarik (TUR),255955.0,300186490.0,NED,ARG
850,2014.0,12 Jul 2014 - 17:00,Play-off for third place,Estadio Nacional,Brasilia,Brazil,0.0,3.0,Netherlands,,68034.0,0.0,2.0,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255957.0,300186502.0,BRA,NED
851,2014.0,13 Jul 2014 - 16:00,Final,Estadio do Maracana,Rio De Janeiro,Germany,1.0,0.0,Argentina,Germany win after extra time,74738.0,0.0,0.0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255959.0,300186501.0,GER,ARG

In [9]:
#remove what is not important for our case
df_wcm = df_wcm.drop(columns=['Datetime', 'Stage', 'Stadium', 'City', 'Half-time Home Goals', 'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2', 'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'])
display(df_wcm)

,Year,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance
0,1930.0,France,4.0,1.0,Mexico,,4444.0
1,1930.0,USA,3.0,0.0,Belgium,,18346.0
2,1930.0,Yugoslavia,2.0,1.0,Brazil,,24059.0
3,1930.0,Romania,3.0,1.0,Peru,,2549.0
4,1930.0,Argentina,1.0,0.0,France,,23409.0
...,...,...,...,...,...,...,...
847,2014.0,Netherlands,0.0,0.0,Costa Rica,Netherlands win on penalties (4 - 3),51179.0
848,2014.0,Brazil,1.0,7.0,Germany,,58141.0
849,2014.0,Netherlands,0.0,0.0,Argentina,Argentina win on penalties (2 - 4),63267.0
850,2014.0,Brazil,0.0,3.0,Netherlands,,68034.0
851,2014.0,Germany,1.0,0.0,Argentina,Germany win after extra time,74738.0

In [10]:
#add the results and informations of the World cup 2018 and World Cup 2022 (from Wikipedia)
worldcupm1822 = pd.read_csv('data/WM_2018_2022.csv', sep=',', header=None, names=['Year','Home Team Name','Home Team Goals','Away Team Goals','Away Team Name','Win conditions','Attendance'])
display(worldcupm1822)

df_wcm = df_wcm.append(worldcupm1822, ignore_index=True)
display(df_wcm)

,Year,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance
0,2018,Russia,5,0,Saudi Arabia,,78011.0
1,2018,Egypt,0,1,Uruguay,,27015.0
2,2018,Russia,3,1,Egypt,,64468.0
3,2018,Uruguay,1,0,Saudi Arabia,,42678.0
4,2018,Uruguay,3,0,Russia,,41970.0
...,...,...,...,...,...,...,...
123,2022,England,1,2,France,,68895.0
124,2022,Argentina,3,0,Croatia,,88966.0
125,2022,France,2,0,Morocco,,68294.0
126,2022,Croatia,2,1,Morocco,,44137.0
127,2022,Argentina,3,3,France,Argentina win in penalties (4-2),88966.0

/tmp/ipykernel_3349/2646654813.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_wcm = df_wcm.append(worldcupm1822, ignore_index=True)

,Year,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance
0,1930.0,France,4.0,1.0,Mexico,,4444.0
1,1930.0,USA,3.0,0.0,Belgium,,18346.0
2,1930.0,Yugoslavia,2.0,1.0,Brazil,,24059.0
3,1930.0,Romania,3.0,1.0,Peru,,2549.0
4,1930.0,Argentina,1.0,0.0,France,,23409.0
...,...,...,...,...,...,...,...
975,2022.0,England,1.0,2.0,France,,68895.0
976,2022.0,Argentina,3.0,0.0,Croatia,,88966.0
977,2022.0,France,2.0,0.0,Morocco,,68294.0
978,2022.0,Croatia,2.0,1.0,Morocco,,44137.0
979,2022.0,Argentina,3.0,3.0,France,Argentina win in penalties (4-2),88966.0

In [11]:
#add a column with the Winner Name of each match just to be an easier way of visualize
winner = []
for row in df_wcm.iterrows():
    if row[1][2] > row[1][3]: #Home Team Goals > Away Team Goals -> Winner: Home Team
        winner.append(df_wcm['Home Team Name'][row[0]])
    if row[1][2] < row[1][3]: #Home Team Goals < Away Team Goals -> Winner: Away Team
        winner.append(df_wcm['Away Team Name'][row[0]])
    if row[1][2] == row[1][3]: #Home Team Goals = Away Team Goals -> Tie case
        if df_wcm['Win conditions'][row[0]] == " ": #means that the game ended as a tie
            winner.append('tie')
        else: #we can have the case of extratime or penalties
            split = df_wcm['Win conditions'][row[0]].split()
            for i in split:
                if i == 'penalties' or i == 'extra':
                    for j in range(0, len(split)):
                        if split[j] == 'win':
                            s = ""
                            for k in range(0,j):
                                s += " "+split[k]
                            s = s.lstrip()
                            winner.append(s)
                

print(winner)
df_wcm['Match Winner']=winner
display(df_wcm)

['France', 'USA', 'Yugoslavia', 'Romania', 'Argentina', 'Chile', 'Yugoslavia', 'USA', 'Uruguay', 'Chile', 'Argentina', 'Brazil', 'Paraguay', 'Uruguay', 'Argentina', 'Argentina', 'Uruguay', 'Uruguay', 'Austria', 'Hungary', 'Switzerland', 'Sweden', 'Germany', 'Spain', 'Italy', 'Czechoslovakia', 'Czechoslovakia', 'Germany', 'tie', 'Austria', 'Italy', 'Italy', 'Czechoslovakia', 'Germany', 'Italy', 'tie', 'Hungary', 'France', 'tie', 'Italy', 'Brazil', 'Czechoslovakia', 'Cuba', 'Switzerland', 'tie', 'Hungary', 'Sweden', 'Italy', 'Brazil', 'Hungary', 'Italy', 'Brazil', 'Italy', 'Brazil', 'England', 'Spain', 'Sweden', 'Yugoslavia', 'tie', 'Yugoslavia', 'Spain', 'tie', 'USA', 'Brazil', 'Spain', 'Italy', 'Uruguay', 'Switzerland', 'Chile', 'tie', 'Brazil', 'Brazil', 'Uruguay', 'Sweden', 'Uruguay', 'Uruguay', 'Austria', 'Brazil', 'Yugoslavia', 'Germany FR', 'Hungary', 'tie', 'Switzerland', 'Uruguay', 'Austria', 'France', 'tie', 'Hungary', 'Turkey', 'England', 'Italy', 'Germany FR', 'Switzerland', 'Uruguay', 'Austria', 'Germany FR', 'Hungary', 'Germany FR', 'Hungary', 'Austria', 'Germany FR', 'Sweden', 'tie', 'Germany FR', 'tie', 'France', 'tie', 'Brazil', 'Northern Ireland', 'tie', 'tie', 'Paraguay', 'Yugoslavia', 'Soviet Union', 'tie', 'Argentina', 'Sweden', 'tie', 'Brazil', 'tie', 'Hungary', 'tie', 'France', 'tie', 'Czechoslovakia', 'Soviet Union', 'Northern Ireland', 'Wales', 'Brazil', 'Germany FR', 'Sweden', 'France', 'Sweden', 'Brazil', 'France', 'Brazil', 'Uruguay', 'Brazil', 'Argentina', 'Chile', 'Soviet Union', 'Czechoslovakia', 'Hungary', 'tie', 'Yugoslavia', 'tie', 'England', 'Chile', 'tie', 'Spain', 'Hungary', 'Germany FR', 'Soviet Union', 'Brazil', 'tie', 'Germany FR', 'Yugoslavia', 'Mexico', 'tie', 'Italy', 'Chile', 'Brazil', 'Czechoslovakia', 'Yugoslavia', 'Czechoslovakia', 'Brazil', 'Chile', 'Brazil', 'tie', 'Germany FR', 'Brazil', 'Soviet Union', 'tie', 'Portugal', 'Argentina', 'Italy', 'Uruguay', 'Spain', 'Hungary', 'tie', 'Portugal', 'tie', 'Soviet Union', 'England', 'tie', 'Argentina', 'Portugal', 'Korea DPR', 'England', 'Hungary', 'Germany FR', 'Soviet Union', 'England', 'Germany FR', 'Soviet Union', 'Portugal', 'Germany FR', 'England', 'Portugal', 'England', 'tie', 'Uruguay', 'Peru', 'England', 'Italy', 'Germany FR', 'Brazil', 'Belgium', 'tie', 'Peru', 'Romania', 'Soviet Union', 'tie', 'Germany FR', 'Brazil', 'Mexico', 'Sweden', 'Germany FR', 'Brazil', 'Soviet Union', 'tie', 'tie', 'England', 'Mexico', 'Italy', 'Germany FR', 'Brazil', 'Uruguay', 'Brazil', 'Italy', 'Germany FR', 'Brazil', 'tie', 'Germany FR', 'German DR', 'Scotland', 'Netherlands', 'tie', 'Italy', 'Poland', 'Germany FR', 'tie', 'tie', 'Yugoslavia', 'tie', 'tie', 'Poland', 'tie', 'tie', 'tie', 'Brazil', 'German DR', 'Netherlands', 'Argentina', 'Sweden', 'Poland', 'Germany FR', 'Brazil', 'Netherlands', 'Poland', 'Brazil', 'Poland', 'Netherlands', 'Germany FR', 'Germany FR', 'Netherlands', 'tie', 'Sweden', 'Poland', 'Germany FR', 'tie', 'Italy', 'Tunisia', 'Argentina', 'tie', 'Austria', 'Peru', 'Netherlands', 'Italy', 'Poland', 'Germany FR', 'Argentina', 'tie', 'Austria', 'tie', 'tie', 'France', 'Poland', 'tie', 'Italy', 'Brazil', 'Spain', 'Peru', 'Scotland', 'tie', 'Netherlands', 'Brazil', 'Argentina', 'Poland', 'Italy', 'tie', 'tie', 'Netherlands', 'Austria', 'Brazil', 'Argentina', 'Brazil', 'Argentina', 'Belgium', 'tie', 'Brazil', 'tie', 'Hungary', 'Scotland', 'Algeria', 'England', 'tie', 'Austria', 'tie', 'tie', 'tie', 'Argentina', 'Brazil', 'tie', 'Belgium', 'Soviet Union', 'Germany FR', 'England', 'Spain', 'Austria', 'France', 'tie', 'Poland', 'tie', 'tie', 'tie', 'Argentina', 'Brazil', 'Algeria', 'tie', 'Yugoslavia', 'Germany FR', 'England', 'Northern Ireland', 'France', 'Poland', 'Italy', 'tie', 'tie', 'Soviet Union', 'Brazil', 'Germany FR', 'France', 'tie', 'Italy', 'tie', 'Italy', 'Germany', 'Poland', 'Italy', 'tie', 'France', 'Brazil', 'Soviet Union', 'Argentina', 'tie', 'tie', 'Mexico', 'Portugal', 'Paraguay', 'Denmark', 'tie', 'tie', 'tie', 'tie', 'Hungary', 'Brazil', 'tie', 'Spain', 'tie', 'Poland', 'Belgium', 'Denmark', 'Germany FR', 'France', 'Soviet Union', 'Italy', 'Argentina', 'tie', 'Mexico', 'Morocco', 'England', 'Brazil', 'Spain', 'tie', 'Denmark', 'Belgium', 'Mexico', 'Argentina', 'Brazil', 'France', 'Germany FR', 'England', 'Spain', 'France', 'Germany FR', 'Belgium', 'Argentina', 'Germany FR', 'Argentina', 'France', 'Argentina', 'Cameroon', 'Romania', 'Colombia', 'Italy', 'Czechoslovakia', 'Brazil', 'Germany FR', 'Costa Rica', 'tie', 'Belgium', 'tie', 'tie', 'Argentina', 'Cameroon', 'Yugoslavia', 'Italy', 'Czechoslovakia', 'Germany FR', 'Brazil', 'Scotland', 'tie', 'tie', 'Spain', 'Belgium', 'tie', 'Soviet Union', 'tie', 'Yugoslavia', 'Italy', 'Austria', 'Brazil', 'Costa Rica', 'Uruguay', 'Spain', 'tie', 'England', 'Cameroon', 'Czechoslovakia', 'Argentina', 'Germany FR', 'Republic of Ireland', 'Italy', 'Yugoslavia', 'England', 'Argentina', 'Italy', 'Germany FR', 'England', 'Argentina', 'Germany', 'Italy', 'Germany FR', 'tie', 'Germany', 'tie', 'Republic of Ireland', 'Romania', 'Belgium', 'Norway', 'tie', 'Netherlands', 'Brazil', 'Argentina', 'Nigeria', 'tie', 'Switzerland', 'USA', 'Italy', 'tie', 'Mexico', 'Sweden', 'Brazil', 'Belgium', 'Saudi Arabia', 'Argentina', 'Bulgaria', 'Romania', 'Colombia', 'Germany', 'Spain', 'tie', 'tie', 'tie', 'Russia', 'Netherlands', 'Saudi Arabia', 'Nigeria', 'Bulgaria', 'Germany', 'Spain', 'Sweden', 'Romania', 'Netherlands', 'Brazil', 'Italy', 'Bulgaria', 'Italy', 'Brazil', 'Bulgaria', 'Sweden', 'Italy', 'Brazil', 'Sweden', 'Brazil', 'Brazil', 'tie', 'tie', 'tie', 'tie', 'Denmark', 'France', 'Nigeria', 'Mexico', 'tie', 'Argentina', 'Yugoslavia', 'Croatia', 'England', 'Romania', 'Germany', 'tie', 'Brazil', 'tie', 'Italy', 'tie', 'France', 'Nigeria', 'tie', 'Croatia', 'tie', 'Netherlands', 'tie', 'Argentina', 'Iran', 'Colombia', 'Romania', 'Italy', 'tie', 'Morocco', 'Norway', 'France', 'tie', 'Spain', 'Paraguay', 'tie', 'tie', 'Germany', 'Yugoslavia', 'Jamaica', 'Argentina', 'tie', 'England', 'Italy', 'Brazil', 'France', 'Denmark', 'Germany', 'Netherlands', 'Croatia', 'Argentina', 'France', 'Brazil', 'Netherlands', 'Croatia', 'Brazil', 'France', 'Croatia', 'France', 'Senegal', 'Denmark', 'tie', 'Germany', 'Argentina', 'tie', 'tie', 'Spain', 'Brazil', 'Italy', 'Mexico', 'Costa Rica', 'tie', 'Korea Republic', 'Russia', 'USA', 'tie', 'tie', 'Cameroon', 'tie', 'Sweden', 'England', 'Spain', 'South Africa', 'Brazil', 'Croatia', 'tie', 'Japan', 'Mexico', 'tie', 'Portugal', 'tie', 'Denmark', 'tie', 'Republic of Ireland', 'Germany', 'tie', 'tie', 'Paraguay', 'Spain', 'Brazil', 'Turkey', 'Ecuador', 'tie', 'Japan', 'Korea Republic', 'Poland', 'Belgium', 'England', 'Germany', 'Spain', 'Senegal', 'Brazil', 'USA', 'Turkey', 'Korea Republic', 'Brazil', 'Germany', 'Turkey', 'Korea Republic', 'Germany', 'Brazil', 'Turkey', 'Brazil', 'Germany', 'Ecuador', 'England', 'tie', 'Argentina', 'Netherlands', 'Mexico', 'Portugal', 'Australia', 'Czech Republic', 'Italy', 'Korea Republic', 'tie', 'Brazil', 'Spain', 'tie', 'Germany', 'Ecuador', 'England', 'Sweden', 'Argentina', 'Netherlands', 'tie', 'Portugal', 'Ghana', 'tie', 'tie', 'Brazil', 'tie', 'Switzerland', 'Ukraine', 'Spain', 'Germany', 'Poland', 'tie', 'Paraguay', 'tie', 'Portugal', 'tie', "Cte d'Ivoire", 'Italy', 'Ghana', 'Brazil', 'tie', 'Ukraine', 'Spain', 'France', 'Switzerland', 'Germany', 'Argentina', 'England', 'Portugal', 'Italy', 'Ukraine', 'Brazil', 'France', 'Germany', 'Italy', 'Portugal', 'France', 'Italy', 'France', 'Germany', 'Italy', 'tie', 'tie', 'Korea Republic', 'Argentina', 'tie', 'Slovenia', 'Ghana', 'Germany', 'Netherlands', 'Japan', 'tie', 'tie', 'tie', 'Brazil', 'Chile', 'Switzerland', 'Uruguay', 'Argentina', 'Greece', 'Mexico', 'Serbia', 'tie', 'tie', 'Netherlands', 'tie', 'Denmark', 'Paraguay', 'tie', 'Brazil', 'Portugal', 'Chile', 'Spain', 'Uruguay', 'South Africa', 'tie', 'Argentina', 'England', 'USA', 'Germany', 'Australia', 'Slovakia', 'tie', 'Japan', 'Netherlands', 'tie', "Cte d'Ivoire", 'Spain', 'tie', 'Uruguay', 'Ghana', 'Germany', 'Argentina', 'Netherlands', 'Brazil', 'Paraguay', 'Spain', 'Netherlands', 'Uruguay', 'Germany', 'Spain', 'Netherlands', 'Spain', 'Germany', 'Spain', 'Brazil', 'Mexico', 'Netherlands', 'Chile', 'Colombia', 'Costa Rica', 'Italy', "Cte d'Ivoire", 'Switzerland', 'France', 'Argentina', 'Germany', 'tie', 'USA', 'Belgium', 'tie', 'tie', 'Netherlands', 'Chile', 'Croatia', 'Colombia', 'Uruguay', 'tie', 'Costa Rica', 'France', 'Ecuador', 'Argentina', 'tie', 'Nigeria', 'Belgium', 'Algeria', 'tie', 'Spain', 'Netherlands', 'Brazil', 'Mexico', 'Uruguay', 'tie', 'Colombia', 'Greece', 'Argentina', 'Bosnia and Herzegovina', 'Switzerland', 'tie', 'Germany', 'Portugal', 'Belgium', 'tie', 'Brazil', 'Colombia', 'France', 'Germany', 'Brazil', 'Germany', 'Germany', 'Netherlands', 'Germany', 'Argentina', 'Netherlands', 'Argentina', 'Netherlands', 'Costa Rica', 'Argentina', 'Belgium', 'Brazil', 'Colombia', 'Netherlands', 'Costa Rica', 'France', 'Germany', 'Argentina', 'Belgium', 'Germany', 'Brazil', 'Argentina', 'Netherlands', 'Germany', 'Argentina', 'Netherlands', 'Germany', 'Russia', 'Uruguay', 'Russia', 'Uruguay', 'Uruguay', 'Saudi Arabia', 'Iran', 'tie', 'Portugal', 'Spain', 'tie', 'tie', 'France', 'Denmark', 'tie', 'France', 'tie', 'Peru', 'tie', 'Croatia', 'Croatia', 'Nigeria', 'Argentina', 'Croatia', 'Serbia', 'tie', 'Brazil', 'Switzerland', 'Brazil', 'tie', 'Mexico', 'Sweden', 'Mexico', 'Germany', 'South Korea', 'Sweden', 'Belgium', 'England', 'Belgium', 'England', 'Belgium', 'Tunisia', 'Japan', 'Senegal', 'tie', 'Colombia', 'Poland', 'Colombia', 'France', 'Uruguay', 'Spain', 'Croatia', 'Brazil', 'Belgium', 'Sweden', 'England', 'France', 'Belgium', 'England', 'Croatia', 'France', 'Croatia', 'Belgium', 'France', 'Ecuador', 'Netherlands', 'Senegal', 'tie', 'Senegal', 'Netherlands', 'England', 'tie', 'Iran', 'tie', 'England', 'United States', 'Saudi Arabia', 'tie', 'Poland', 'Argentina', 'Argentina', 'Mexico', 'tie', 'France', 'Australia', 'France', 'Australia', 'Tunisia', 'Japan', 'Spain', 'Costa Rica', 'tie', 'Japan', 'Germany', 'tie', 'Belgium', 'Morocco', 'Croatia', 'tie', 'Morocco', 'Switzerland', 'Brazil', 'tie', 'Brazil', 'Switzerland', 'Cameroon', 'tie', 'Portugal', 'Ghana', 'Portugal', 'Uruguay', 'South Korea', 'Netherlands', 'Argentina', 'France', 'England', 'Croatia', 'Brazil', 'Morocco', 'Portugal', 'Croatia', 'Argentina', 'Morocco', 'France', 'Argentina', 'France', 'Croatia', 'Argentina']

,Year,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Match Winner
0,1930.0,France,4.0,1.0,Mexico,,4444.0,France
1,1930.0,USA,3.0,0.0,Belgium,,18346.0,USA
2,1930.0,Yugoslavia,2.0,1.0,Brazil,,24059.0,Yugoslavia
3,1930.0,Romania,3.0,1.0,Peru,,2549.0,Romania
4,1930.0,Argentina,1.0,0.0,France,,23409.0,Argentina
...,...,...,...,...,...,...,...,...
975,2022.0,England,1.0,2.0,France,,68895.0,France
976,2022.0,Argentina,3.0,0.0,Croatia,,88966.0,Argentina
977,2022.0,France,2.0,0.0,Morocco,,68294.0,France
978,2022.0,Croatia,2.0,1.0,Morocco,,44137.0,Croatia
979,2022.0,Argentina,3.0,3.0,France,Argentina win in penalties (4-2),88966.0,Argentina

In [12]:
#some preprocessing
df_wcm = df_wcm.replace('Germany FR', 'Germany') #due the separation before the World War II (also because of this, there is no acess to years of war - between index 2 and 3)
df_wcm = df_wcm.replace('GermanyFR', 'Germany')
df_wcm = df_wcm.replace('German DR', 'Germany')
df_wcm = df_wcm.replace('United States', 'USA')
df_wcm = df_wcm.replace('Soviet Union', 'Russia')
df_wcm = df_wcm.replace('IR Iran', 'Iran')
df_wcm = df_wcm.replace("Cte d'Ivoire", "Cote d'Ivoire")
df_wcm = df_wcm.replace("Korea Republic", "South Korea")
df_wcm = df_wcm.replace("Dutch East Indies", "Indonesia")
display(df_wcm)

,Year,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Match Winner
0,1930.0,France,4.0,1.0,Mexico,,4444.0,France
1,1930.0,USA,3.0,0.0,Belgium,,18346.0,USA
2,1930.0,Yugoslavia,2.0,1.0,Brazil,,24059.0,Yugoslavia
3,1930.0,Romania,3.0,1.0,Peru,,2549.0,Romania
4,1930.0,Argentina,1.0,0.0,France,,23409.0,Argentina
...,...,...,...,...,...,...,...,...
975,2022.0,England,1.0,2.0,France,,68895.0,France
976,2022.0,Argentina,3.0,0.0,Croatia,,88966.0,Argentina
977,2022.0,France,2.0,0.0,Morocco,,68294.0,France
978,2022.0,Croatia,2.0,1.0,Morocco,,44137.0,Croatia
979,2022.0,Argentina,3.0,3.0,France,Argentina win in penalties (4-2),88966.0,Argentina

In [13]:
df_wcm.to_csv("data/WorldCupMatches_complete.csv")